<br>
<br>
<br>
<h1> Sign in Dizzle </h1>

<!-- must specify where to post i.e. must post to sessions path. it will assume user because the form is a user path -->
<div class="row">
         <div class="col-xs-12 col-sm-3 col-sm-offset-5">
         	<%= form_for @user, :url => { :controller => "sessions", :action => "create" } do |f| %>
    <%= f.text_field :email %><br />
    <%= f.password_field :password %><br />
    <%= f.submit %>
<% end %>
</div>
</div>
