<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>MakeMeWebsites</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body>
    <br>
    <br>
    <br>
    <%#= @current_user.inspect %>
<div class="row, padding-top: 10px">
        <h1> CHOOSE A THEME ! </h1>
        <br>
        <br>
        <br>
            <div class="col-sm-4">
                <%= link_to image_tag('http://startbootstrap.com/assets/img/templates/grayscale.jpg', class: 'img-circle img-responsive img-center choices'), user_pages_path(user_id: current_user.id, template_id: 3), method: :post %>
                <!-- must loop through, not bed hard-coded -->
                <!-- <img class="img-circle img-responsive img-center choices" src="http://startbootstrap.com/assets/img/templates/grayscale.jpg" alt=""> -->
            </div>
            <div class="col-sm-4">
                <img class="img-circle img-responsive img-center choices" src="http://www.gt3themes.com/wp-content/uploads/2014/05/Business-Casual-Template.jpg" alt="">         
            </div>
            <div class="col-sm-4">
                <img class="img-circle img-responsive img-center choices" src="http://startbootstrap.com/assets/img/templates/clean-blog.jpg" alt="">
            </div>
        </div>

<%= render "layouts/templatesnew" %>
<%= render "layouts/footer" %>
</body>
</html>

<!-- <img src="http://startbootstrap.com/assets/img/templates/grayscale.jpg" class = "choices" -->